body {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
}

.app__player {
  flex-grow: 1;
  position: relative;
}

.app__player .player {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.app__panel {
  height: 36px;
  min-height: 36px;
  flex-grow: 0;
  background: white;
  position: relative;
  z-index: 10;
}
