body {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}

.app__panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  background: white;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.app__panel:hover {
  opacity: 1;
}
