body {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}

.app__player {
  flex-grow: 1;
  position: relative;
}

.app__player .player {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.app__panel {
  height: var(--panel-btn-size);
  min-height: var(--panel-btn-size);
  flex-grow: 0;
  background: white;
  position: relative;
  z-index: 10;
}

.app--fullscreen .app__panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: opacity var(--def-trans-speed) linear;
}

.app--fullscreen .app__panel:hover {
  opacity: 1;
}
