.slider {
  padding: var(--slider-vertical-padding) 0;
  display: block;
}

.slider__input {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -99999px;
}

.slider__track {
  height: var(--slider-thickness);
  border-radius: var(--slider-roundness);
  background-color: var(--color-gray);
  position: relative;
}

.slider__elapsed {
  position: relative;
  height: 100%;
  border-radius: var(--slider-roundness);
  background-color: var(--color-primary);
}

.slider__handle {
  position: absolute;
  top: 50%;
  margin-top: calc(var(--slider-handle-size) / -2);
  right: 0;
  margin-right: calc(var(--slider-handle-size) / -2);
  width: var(--slider-handle-size);
  height: var(--slider-handle-size);
  border-radius: var(--slider-handle-roundness);
  background-color: var(--color-primary);
  transform: scale(0);
  transition: transform var(--def-trans-speed) linear;
}

.slider:hover .slider__handle {
  transform: scale(1);
}

.slider--transition .slider__elapsed {
  transition: width var(--def-trans-speed) linear;
}

.slider--disabled .slider__track {
  background-color: var(--color-disabled-gray);
}

.slider--disabled .slider__elapsed {
  background-color: var(--color-disabled-primary);
}

.slider--disabled .slider__handle {
  background-color: var(--color-disabled-primary);
}

.slider--disabled:hover .slider__handle {
  transform: scale(0);
}
