.panel-btn {
  padding: 0;
  width: var(--panel-btn-size);
  height: var(--panel-btn-size);
  line-height: var(--panel-btn-size);
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
}

.panel-btn .i__path {
  fill: var(--color-panel-icon);
}

.panel-btn:hover .i__path {
  fill: var(--color-primary);
}
